$color-primary: #0d6efd;
$color-secondary: #6c757d;
$color-success: #198754;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #0dcaf0;
$color-like: #FE1694;

$color-font: #333;
$color-bg: #f7f7f7;

$font-size-sm: 12px;
$font-size-m: 14px;
$font-size-lg: 18px;
$font-size-xlg: 24px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$color-blue: #0d6efd;
$color-lightblue: #18A0FB;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #F699CD;
$color-rose: #FC94AF;
$color-coral: #FE7D6A;
$color-punch: #ffffff;
$color-red: #E3242B;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #198754;
$color-teal: #20c997;
$color-cyan: #0dcaf0;
$color-grey: #0dcaf0;
$color-black: #0dcaf0;
$color-white: #fff;

@mixin main-btn($color, $bgcolor){
  width: 130px;
  height: 40px;
  padding: 10px;
  color: $color;
  background-color: $bgcolor;
  border: 1px solid $color-primary;
}

@mixin confirm-btn{
  width: 50px;
  height: 25px;
  padding: 5px;
  color: $color-white;
  background-color: $color-primary;
}

@mixin flex ($content){
  display: flex;
  justify-content: $content;
  align-items: center;

}